.home-header {
    padding: 20px;
    text-align: center;
    background-color: var(--accent-color); 
}

.theme-toggle-btn {
    background: none;
    /* border: 1px solid var(--secondary-color); */
    border: none;
    color: var(--text-color);
    padding: 8px 16px;
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;
}