.task-collumn{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    background-color: var(--card-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-collumn h4{
    background-color: aquamarine;
    text-align: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 16px;
    color: var(--primary-color);
    padding: 16px;
}

.task-collumn-body{
    padding: 0 16px 0;
    min-height: 100px;
}

.task-card{
    background-color: var(--accent-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: grab;
    transition: ease-in-out 0.2s;
}

.task-card:active{
    opacity: 0.7;
    cursor: grabbing;
}

.task-card h6{
    margin: 0;
}

.drop-area{
    border: 2px dashed #aaa;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #777;
    font-style: italic;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.hide-drop{
    opacity: 0;
    /* margin-bottom: 0; */
}   